@import-normalize;

[data-theme="dark"] {
  --color-bg: #1a1a1a;
  --color-bg-alt: #2a2a2a;
  --color-primary: #6d90a8;
  --color-primary-hover: #4a6b8c;
  --color-text: #f1f1f1;
  --color-border: #333333;
  --button-bg: #6d90a8;
  --icon-color: #011122;
}

[data-theme="light"] {
  --color-bg: #ece3e3;
  --color-bg-alt: #f0f0f0;
  --color-primary: #011122;
  --color-primary-hover: #0b2a49;
  --color-text: #f1f1f1;
  --color-border: #333333;
  --button-bg: #6d90a8;
  --icon-color: #011122;
}

html {
  scrollbar-width: thin;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
